---
title: Useful helpers
layout: two-columns.hbs
---

<article class="article">
	<h1 class="article__title">{{ title }}</h1>
	<div class="article__body">
		{{#each page}}
			{{@key}} - {{this}}<br>
		{{/each}}
	</div>
</article>