---
title: Index page
layout: one-column.hbs
---

<h1>Index</h1>

<ul>
	{{#each pages}}
		{{#isnt this.basename "index"}}
			<li><a href="{{this.dest}}">{{default this.data.title this.pagename}}</a></li>
		{{/isnt}}
	{{/each}}
</ul>
