<div class="sidebar">
	<p>We can change layout for every single page</p>

	<p>Maecenas molestie sodales diam, nec condimentum mauris ultrices eget.
	Morbi vitae ultricies nibh. Nullam semper dictum scelerisque. Ut ac lorem lacus.
	Aliquam erat volutpat. Nulla facilisi. Suspendisse pellentesque vehicula arcu,
	sit amet elementum dolor. Duis consectetur eu risus nec euismod.
	Phasellus convallis luctus mauris, nec molestie justo pharetra vitae.
	Donec volutpat congue rhoncus.</p>
</div>
