<html>
<head>
	<title>{{default title page.basename}}</title>
	<link rel="stylesheet" href="/assets/styles/all.css?v={{now "%d%H%M%S"}}">
	<script src="/assets/javascripts/all.js?v={{now "%d%H%M%S"}}"></script>
</head>
<body class="page-{{page.basename}}">
{{> body}}
</body>
</html>